version: 2
jobs:
  build:
    docker:
      # Specify the circleci build base image here.    
      # note: can't use this gcloud image since it doesn't have maven and likely jdk8.  should create custom to combine the 2 images.
      #- image: google/cloud-sdk
      - image: circleci/openjdk:8u151-jdk      
    working_directory: ~/openJDK-glcloud
    steps:
       # Get the code    
      - checkout
      - run:
          command: |
            docker build -t my-cloud-sdk-docker:default