version: 2
jobs:
  build:
    machine: true
    working_directory: ~/openJDK-glcloud
    steps:
       # Get the code    
      - checkout
      - run:
          name: Build new image and push to docker
          command: |
            docker build -t mmosttler/circleci_openjdk_gcloud:0.0.1 .
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push mmosttler/circleci_openjdk_gcloud:0.0.1